/*
Author: iQuipe
Author URL: http://iquipe.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/*-- banner --*/
.nursing-banner-img{
    background: url(../images/tbj1-banner000.jpg) no-repeat center top;
}

.home-banner-img{
    background: url(../images/tbj2.jpeg) no-repeat center top;
}

.theology-banner-img {
    background: url(../images/prophet-tb-joshua 1.jpg) no-repeat center top;
}

.technology-banner-img {
    background: url(../images/technology.jpg)no-repeat center top;
}